language: go
script: true

install:
  - go get github.com/zsy-cn/ink

script:
  - ink build
  - echo 'ink build done!'

after_script:
  - cd ./public
  - git init
  - git config user.name "zsy-cn"
  - git config user.email "zsy@iotinit.com"
  - git add .
  - git commit -m "update blog"
  # Github Pages
  - git push --force --quiet "https://${GH_TOKEN}@${Github_REF}" master:master 

env:
 global:
   # Github Pages
   - Github_REF: github.com/zsy-cn/zsy-cn.github.io
